@charset"UTF-8";

/*
class( .class-name ) name -> first-second-third
    Vise objekata > ect. Products

Id ( #idName ) name -> firstSecondThird
    Jedan objekat > ext. Header / Footer

Ne koristi float!!!!! 

div style="text/align:center"
    -> child div style="display> block or inline-block"

Za centriranje koristi margin : auto


*/


/*----------user.html----------------*/


#top{ /*top-menu*/
    background-color:cornsilk;
    height: 115px;
    width: auto;
    min-width: 720px;
    margin-bottom: 5px;
    border: 2px solid #333;
     
}

#box{ /*content*/
    background-color:azure;
    height: 460px;
    width: 720px;
    margin: 0 auto;
    border: 2px solid #333;
    text-align: center;
    position: relative;
}

.button{ 
    text-align: center;
    display: inline-block;
    left: 110px;
    right: 500px;
    top: 400px;
    margin: auto;
    position: relative;   
}

#bottom{ /*footer*/
    background-color: antiquewhite;
    height: 115px;
    width: auto;
    min-width: 720px;
    margin-top: 5px;
    border: 2px solid #333;
}


/*----------products.html-------------*/

body{
    margin:0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
    background-color: #F1F1F1;
    width: 100%;
}

#nav{
    background-color:#2980b9;
    width: 100%;
    top: 0;
}
    .search {
    padding:0;
    background:rgba(50, 50, 50, 0.2);
    border:0 solid #dbdbdb;
    position: sticky;
    right: 43%;
    margin:0; 
    max-width: 250px;
    float: right;
        margin: 15px 0 0 0 ;
    }
    
    .button {
    position:relative;
    padding:6px 15px;
    left:-px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    }   
    .button:hover  {
    background-color:#fafafa;
    color:#207cca;
     
    }

#nav img{ /*--Logo button--*/
    width:45px;
    height:45px;
    padding: 0;
    margin: 5px 8px 0 8px;
    position: static;
}  

#nav img:hover{
    background-color: #3498db;
}

#wrapper{
    width: 100%;
    margin:0;
    background-color: azure;
    border: 2px solid #DDD;
    margin: 5px 0 5px 0;
    display: block;
    height: 630px;
    overflow : scroll;
    overflow-x: hidden;
    
}

.content{
  
}

.text{
    background-color: #1abc9c;
    max-height: 270px;
    max-width: 290px;
    margin: 5px 10px 5px 17px;
    overflow : scroll;
    float: left;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
    border-right: 1px solid #333;

}

.image{
    background-color: #ecf0f1;
    max-height: 240px;
    max-width: 240px;
    margin: 5px;
    float: left;
    border: 3px solid #8e44ad;
    
}

.audio{
    background-color: #95a5a6;
    max-height: 25px;
    max-width: 300px;
    margin: 5px;
    float: left;
    border: 3px solid #2c3e50;
}

.video{
    background-color: #f1c40f;
    max-height: 240px;
    max-width: 320px;
    margin: 5px;
    float: left;
    border: 3px solid #e74c3c;
}

/*
.product-block img{
    display: inline-block;
}

.product-block audio{
    display: inline-block;
}

.product-block video{
    display: inline-block;
}
*/
#footer{
    background-color: #7f8c8d;
    text-align: center;
    height: 45px;
    width: auto;
}

.f-footer{
    margin-top: 5px;   
}
    

::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color: #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}

::-webkit-input-placeholder { /* For WebKit browsers */
    color:    #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}

:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}   
    
    

/*#content{
    background-color: antiquewhite;
    display: inline-block;
    max-height: 250px;
    padding: 15px;
    overflow : scroll;
    overflow-x: hidden;

}

    `.product-block img{}

    `.product-block audio{}

    `.product-block video{}
