@charset"UTF-8";

/*
class( .class-name ) name -> first-second-third
    Vise objekata > ect. Products

Id ( #idName ) name -> firstSecondThird
    Jedan objekat > ext. Header / Footer

Ne koristi float!!!!! 

div style="text/align:center"
    -> child div style="display> block or inline-block"

Za centriranje koristi margin : auto


*/


/*----------user.html----------------*/

body{
    overflow: hidden;
}

#top{ /*top-menu*/
    background-color:cornsilk;
    height: 115px;
    width: auto;
    min-width: 720px;
    margin-bottom: 5px;
    border: 2px solid #333;
     
}

#box{ /*content*/
    background-color:azure;
    height: 460px;
    width: 720px;
    margin: 0 auto;
    border: 2px solid #333;
    text-align: center;
    position: relative;
}

.button{ 
    text-align: center;
    display: inline-block;
    left: 110px;
    right: 500px;
    top: 400px;
    margin: auto;
    position: relative;   
}

#bottom{ /*footer*/
    background-color: antiquewhite;
    height: 115px;
    width: auto;
    min-width: 720px;
    margin-top: 5px;
    border: 2px solid #333;
}


/*----------products.html-------------*/

body{
    margin:0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
    background-color: #F1F1F1;
    width: 100%;
}

#navigation{
    background-color:#16a085;
    width: 100%;
    top: 0;
    height: 50px;
}
    .search {
    padding:0;
    background:rgba(50, 50, 50, 0.2);
    border:0 solid #dbdbdb;
    position: sticky;
    right: 43%;
    margin:0; 
    max-width: 250px;
    float: right;
        margin: 15px 0 0 0 ;
    }
    
    .button {
    position:relative;
    padding:6px 15px;
    left:-px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    }   
    .button:hover  {
    background-color:#fafafa;
    color:#207cca;
     
    }

#navigation img{ /*--Logo button--*/
    width:45px;
    height:45px;
    padding: 0;
    margin: 5px 8px 0 8px;
    position: static;
}  

#navigation img:hover{
    background-color: #3498db;
}

#content{
    width: 100%;
    margin: 5px;
}
.content{
    width: 100%;
    margin:0;
    background-color: white;
    border: 2px solid #DDD;
    margin: 5px 0 5px 0;
    display: block;
    height: 650px;
    overflow : scroll;
    overflow-x: hidden;
}

#home{
    height: 20px;  
    width: 45px;
    margin-top: 15px;
    margin-left: 5px;
}

#login{
    height: 20px;  
    width: 45px;
}

#user{
    height: 20px;  
    width: 45px;
}

#uploadfile{
    height: 20px;  
    width: 45px;
}

#logout{
    height: 20px;  
    width: 45px;
}

.image{
    background-color: #ecf0f1;
    max-height: 240px;
    max-width: 260px;
    margin: 5px 15px 5px 35px;
    float: left;
    display: inline-block;
    border: 3px solid #95a5a6;
    position: relative;
    
}

.image img{
    height: 240px;
    max-width: 260px;   
}

.image button{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    border: none;
    background-color:whitesmoke;
    background-image: url(../Icons/Delete-normal-hover.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

.image button:hover{
    background-color: #e85647;
    background-image: url(../Icons/Delete-normal.png);
}

.audio{
    background-color: #ecf0f1;
    max-height: 240px;
    max-width: 260px;
    margin: 5px 15px 5px 35px;
    float: left;
    border: 3px solid #2c3e50; 
    position: relative;
}

.audio img{
    max-height: 240px;
    width: 260px;
}
.audio audio{
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 240px;
    max-width: 260px;
}

.audio button{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    border: none;
    background-color:whitesmoke;
    background-image: url(../Icons/Delete-normal-hover.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

.audio button:hover{
    background-color: #e85647;
    background-image: url(../Icons/Delete-normal.png);
}

.video{
    max-height: 240px;
    max-width: 320px;
    margin: 5px 15px 5px 30px;
    float: left;
    border: 3px solid #7f8c8d;
}

.video video{
    height: 240px;
    max-width: 320px;
/*
.product-block img{
    display: inline-block;
}

.product-block audio{
    display: inline-block;
}

.product-block video{
    display: inline-block;
}
*/

#footer{
    background-color: #16a085;
    text-align: center;
    height: 45px;
    width: auto;
}

.f-footer{
    margin-top: 5px;  
    padding-top: 13px;
}
    

::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color: #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}

::-webkit-input-placeholder { /* For WebKit browsers */
    color:    #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}

:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}   

#home{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
    background-image: url(../Icons/home-normal.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

#home:hover{
     background-image: url(../Icons/home-normal-hover.png);
}

#uploadfile{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
    background-image: url(../Icons/Upload-normal.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

#uploadfile:hover{
     background-image: url(../Icons/Upload-normal-hover.png);
}

#logout{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
    background-image: url(../Icons/Logout-normal.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

#logout:hover{
     background-image: url(../Icons/Logout-normal-hover.png);
}

#login{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
    background-image: url(../Icons/Login-normal.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

#login:hover{
     background-image: url(../Icons/Login-normal-hover.png);
}

#user {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
    background-image: url(../Icons/User-normal.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
}

#user:hover {
     background-image: url(../Icons/User-normal-hover.png);
}